{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>Doodle I Fast build Admin dashboard for any platform</title>
	<meta name="description" content="Doodle is a Dashboard & Admin Site Responsive Template by hencework." />
	<meta name="keywords" content="admin, admin dashboard, admin template, cms, crm, Doodle Admin, Doodleadmin, premium admin templates, responsive admin, sass, panel, software, ui, visualization, web app, application" />
	<meta name="author" content="hencework"/>
	
	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	
	<!-- switchery CSS -->
	<link href="{% static "vendors/bower_components/switchery/dist/switchery.min.css" %}" rel="stylesheet" type="text/css"/>
		
	<!-- Custom CSS -->
	<link href="{% static "dist/css/style.css" %}" rel="stylesheet" type="text/css">

	
</head>

<body>


        <!-- Main Content -->
		<div class="page-wrapper" style="margin-left: 3% !important;margin-right: 3% !important;padding-top: 1% !important;padding-bottom: 2% !important;width: 94% !important;height: 90% !important">
            <div class="container-fluid" style=" width: 100% !important;height: 100% !important;padding-left: 15%;padding-right: 15%">
				<!-- Title -->
				<div class="row heading-bg" style="margin-right: 0% !important;margin-left:0% !important;margin-bottom : 0% !important;padding-top: 1% !important;padding-bottom: 1% !important;width: 100% !important;height: 100% !important;padding-left: 1% !important;padding-right: 1% !important">
					<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12" style="padding-left: 1.5% !important;padding-right: 2% !important;width: auto !important;height: auto !important">
					  <h5 class="txt-dark" style="text-align: center">chats</h5>
					</div>
					<!-- Breadcrumb -->
					
					<!-- /Breadcrumb -->
				</div>
				<!-- /Title -->
				
				<!-- Row -->
				<div class="row">
					<div class="col-md-12" style="margin-left: 0% !important;margin-right: 0% !important;padding-left: 0.1% !important;padding-right: 0.1% !important;width: 100% !important;height: 100% !important">
						<div class="panel panel-default border-panel card-view pa-0"  style="margin-right: 0% !important;margin-left:0% !important;margin-bottom : 0% !important;padding-top: 0.125% !important;padding-bottom: 0.125% !important;width: 100% !important;height: 100% !important;padding-left: 0.125% !important;padding-right: 0.125% !important;border-top: 0% !important;border-left: 0% !important;border-right: 0% !important;border-bottom: 0% !important">
							<div class="panel-wrapper collapse in" style="margin-right: 0% !important;margin-left:0% !important;margin-bottom : 0% !important;padding-top: 0% !important;padding-bottom: 0% !important;width: 100% !important;height: 100% !important;padding-left: 0% !important;padding-right: 0% !important;border-top: 0%;border-left: 0%;border-right: 0%;border-bottom: 0%">
								<div class="panel-body pa-0" style="margin-right: 0% !important;margin-left:0% !important;margin-bottom : 0% !important;padding-top: 0% !important;padding-bottom: 0% !important;width: 100% !important;height: 100% !important;padding-left: 0% !important;padding-right: 0% !important;border-top: 0% !important;border-left: 0% !important;border-right: 0% !important;border-bottom: 0% !important">
									<div class="chat-cmplt-wrap chat-for-widgets-1" style="margin-right: 0% !important;margin-left:0% !important;margin-bottom : 0% !important;padding-top: 0% !important;padding-bottom: 0% !important;width: 100% !important;height: 100% !important;padding-left: 0% !important;padding-right: 0% !important;border-top: 0% !important;border-left: 0% !important;border-right: 0% !important;border-bottom: 0% !important" >
										
										<div class="recent-chat-box-wrap" style="margin-right: 0% !important;margin-left:0% !important;margin-bottom : 0% !important;padding-top: 0% !important;padding-bottom: 0% !important;width: 100% !important;height: 100% !important;padding-left: 0% !important;padding-right: 0% !important;border-top: 0% !important;border-left: 0% !important;border-right: 0% !important;border-bottom: 0% !important;border-left-width: 0px !important">
											<div class="recent-chat-wrap" style="width: 100% !important ;height: 100% !important">
												<div class="panel-heading ma-0 pt-15" style="width: 100% !important ;height: 100% !important" >
													<div class="goto-back" style="padding-bottom: 0% !important;height:36.57px">
														<a  id="goto_back_widget_1" href="" class="inline-block txt-grey" style="width: 33% !important;height: 100% !important;">
															<!-- <i class="zmdi zmdi-account-add"></i> -->
														</a>	
														<span class="inline-block txt-dark" style="text-transform: none !important;font-size: 25px !important">BJAM BOT</span>
														<a href="" class="inline-block text-right txt-grey"><!-- <i class="zmdi zmdi-more"></i> --></a>
														<div class="clearfix"></div>
													</div>
													<style type="text/css">
														.pt-15{padding-top: 0.125% !important; 
														padding-bottom:0.125% !important;
														width: 100%;
														height: 100%;
														border-bottom: 0px;
													}
													</style>
												</div>
												<div class="panel-wrapper collapse in">
													<div class="panel-body pa-0">
														<div class="chat-content" id="chatContent12" style="height: 483px !important">
															

															<ul class="chatapp-chat-nicescroll-bar pt-20" style="height: 483px !important">
																<li class="friend">
																	<div class="friend-msg-wrap">
																		<img class="user-img img-circle block pull-left"  src="dist/img/user.png" alt="user"/>
																		<div class="msg pull-left" style="background: rgba(80, 181, 0, 0.24); width:40%;height:30%">
																			<div style="margin:0px; background:transparent !important;	 width:100% ;height:100%">
																<div class="panel panel-default card-view "style="margin-right: 0% !important;margin-left:0% !important;margin-bottom : 0% !important;padding-top: 0% !important;padding-bottom: 0% !important;width: 100% !important;height: 100% !important;padding-left: 0.125% !important;padding-right: 0.125% !important;border-top: 0% !important;border-left: 0% !important;border-right: 0% !important;border-bottom: 0% !important;background:transparent;border:0px">
																	<div class="panel-heading"style="margin-right: 0% !important;margin-left:0% !important;margin-bottom : 0% !important;margin-top: 0% !important>
																		<div class="pull-left">
																			<b><h1 style="font-size:15pt !important;padding-bottom:8px" class="panel-title txt-dark">GST Ground Report: Here are views of small traders and shopkeepers on GST</h1></b>
																				<p style="padding-bottom:8px;color:#b1adad !important">The finance ministry came out with a clarification after reports suggested that some unscrupulous elements posing as GST officers have tried to fleece shopkeepers and customers in the name of GST</p> <img  src="images/oyo.jpg" style="height:100% ; width:100%;padding-bottom:8px" alt="alert" class="img-responsive model_img" id="sa-basic">
																				


																			<div>
																					<ul class="nav navbar-right top-nav">
																						<div>
					
					
					
																	<li class="dropdown alert-drp" style="align:centre">
																		<a class="dropdown-toggle" data-toggle="dropdown"style="color:#0060ffe6; margin-left:50px padding-left:-10px;text-decoration:underline"href="#">http://www.moneycontrol.com/news/tax/attention-shopkeepers-taxmen-can-visit-your-shop-without-authority-finmin_9232481.html</a>
																		<div  class="dropdown-menu alert-dropdown" data-dropdown-in="bounceIn" data-dropdown-out="bounceOut">
																			
																				<div class="notification-box-head-wrap">


																	<iframe src="http://www.moneycontrol.com/news/tax/attention-shopkeepers-taxmen-can-visit-your-shop-without-authority-finmin_9232481.html" style="height:100% !important; width:100% !important; padding:1% 1% ;position:absolute">

																		
																	</iframe>
																	<div class="pull-right">
																	<button style="position:relative; background:black;"><i class="glyphicon glyphicon-remove" style="color:red"></i>
																	</button>
																	<button style="position:relative; background:black" onclick="window.open('http://www.moneycontrol.com/news/tax/attention-shopkeepers-taxmen-can-visit-your-shop-without-authority-finmin_9232481.html')">  <i class="glyphicon glyphicon-resize-full " style="color:lime"></i> 
																	</button>
																	
																</div>



								</div>
						
						
						</div>
					</li>
				</div>
					
				</ul>

																				</div>



																				
																		</div>
																		<div class="clearfix"></div>
																	</div>
																	<div class="panel-wrapper collapse in" style="margin-right:50%; margin-bottom:40%; margin-top:-45%";>
																		<div class="panel-body">
																		
																		</div>
																	</div>
																</div>
															</div>
																			<div class="msg-per-detail text-right">
																			</div>
																		</div>
																		<div class="clearfix"></div>
																	</div>	
																</li>
																
																
															</ul><!-- ------------------------------------------------------------------------------------------------>



															<style type="text/css">
																.slimScrollDiv{height: 483px !important}
																.chatapp-chat-nicescroll-bar{height: 483px !important}
															</style>
														</div>
														
														
														<div class="input-group col-md-12"  style="width: 100%;height: 60px !important">
															<div style="width: 93% !important;height: 60px;float: left;background-color:rgba(255, 255, 255, 0.05)">
															<input type="text" id="input_msg_send_chatapp" name="send-msg" class="input-msg-send form-control" placeholder="Type something" style="width:100% !important;height:100% !important;margin-top: 5px !important ;padding-right: 12px !important" >
															<script type="text/javascript">
														document.getElementById("input_msg_send_chatapp")
														    .addEventListener("keyup", function(event) {
														    event.preventDefault();
														    if (event.keyCode === 13) {
														        document.getElementById("input_msg_send_chatapp").click();
														         var random=Math.random();
														      
														     $.ajax({
															    type: "POST",
															    url: "http://localhost:8080/webapp/getMaterials.php",
															    data: {"st":9221,"schoolid":1,"student_class":"V(ICSE)","student_div":"A"},
															    dataType: "json",

															    success: function(resultData){
															      //alert(resultData);
															     

															      			$('<li class="friend mb-10"><div id="'+random+'"class="friend-msg-wrap"><img class="user-img img-circle block pull-left"  src="dist/img/user.png" alt="user"/><div class="msg block pull-right " style="background: rgba(80, 181, 0, 0.24)" ><p style="font-size: 15pt">' + resultData.success + '</p><div class="msg-per-detail mt-5"><span class="msg-time txt-grey">3:30 pm</span></div></div></div><div class="clearfix"></div></li>').insertAfter(".chat-for-widgets-1 .chat-content  ul li:last-child");
															      			

															      				 $("#chatContent12").animate({
                                                                              scrollTop: $("").offset().top
                                                                            }, 2000);

															    }

															});
														    }
														});
															</script>
															<style type="text/css">
																.recent-chat-wrap .chat-content .self .self-msg-wrap .msg{
																	background: rgba(150, 191, 151, 0.23)
																}
															</style>
															</div>
															<div  style="width: 7% !important;height: 60px;float: left;background-color:rgba(255, 255, 255, 0.05)">

																		<div style="width: 50% !important;height: 60px!important;float: left;background-color:rgba(255, 255, 255, 0.05);margin-top: 5px !important">
																			
																				
																				<button type="button" class="btn1" style="width: 100%; !important ;height: 100%!important;background-color:transparent;display: flex;align-items: center;justify-content: center;border-top: 0px;border-left: 0px;border-right: 0px;border-bottom: 0px"><i class="fa fa-microphone" style="color: rgba(242, 223, 223, 0.58) !important; margin-right: 1px !important"></i>
																					</button>
																																							</div>
																			
																		
																		<div style="width: 50% !important;height: 60px!important;float: left;background-color:rgba(255, 255, 255, 0.05);margin-top: 5px !important">
																			<div class="fileupload btn  btn-default" style="width: 100% !important ;height: 100%;background-color:transparent;border-top: 0px;border-left: 0px;border-right: 0px;border-bottom: 0px;padding-top: 1px !important;padding-bottom: 1px !important;padding-left: 6px !important;padding-right: 6px !important;display: flex;align-items: center;justify-content: center"><i class="zmdi zmdi-attachment-alt" style="color: rgba(242, 223, 223, 0.58) !important"></i>
																				<input type="file" class="upload" style="width: 20px !important">
																			</div>
																		</div>
																	</div>	
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Row -->
				
				
			<!-- Footer -->
			<!-- <footer class="footer container-fluid pl-30 pr-30">
				<div class="row">
					<div class="col-sm-12">
						<p>2017 &copy; Doodle. Pampered by Hencework</p>
					</div>
				</div>
			</footer> -->
			<!-- /Footer -->
        </div>
        <!-- /Main Content -->

    </div>
    <!-- /#wrapper -->
	
	<!-- JavaScript -->
	
    <!-- jQuery -->
    <script src="vendors/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	
	<!-- Slimscroll JavaScript -->
	<script src="dist/js/jquery.slimscroll.js"></script>
	
	
	
	<!-- Init JavaScript -->
	

<script src="dist/js/init.js"></script>








	
</body>

</html>
