{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>Doodle I Fast build Admin dashboard for any platform</title>
	<meta name="description" content="Doodle is a Dashboard & Admin Site Responsive Template by hencework." />
	<meta name="keywords" content="admin, admin dashboard, admin template, cms, crm, Doodle Admin, Doodleadmin, premium admin templates, responsive admin, sass, panel, software, ui, visualization, web app, application" />
	<meta name="author" content="hencework"/>
	
	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	
	<!-- switchery CSS -->
	<link href="{% static "vendors/bower_components/switchery/dist/switchery.min.css" %}" rel="stylesheet" type="text/css"/>
		
	<!-- Custom CSS -->
	<link href="{% static "dist/css/style.css" %}" rel="stylesheet" type="text/css">
	
</head>

<body>

	    <div class="wrapper theme-4-active pimary-color-red" >
			
			<!-- Top Menu Items -->
			<nav class="navbar navbar-inverse navbar-fixed-top">
				
				<div id="mobile_only_nav" class="mobile-only-nav " style="margin:auto; padding: 0 45%">
					<ul class="nav navbar-right top-nav">
						
						
						
						<li class="dropdown alert-drp" style="align:centre">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">CLICK ME</i></a>
							<div  class="dropdown-menu alert-dropdown" data-dropdown-in="bounceIn" data-dropdown-out="bounceOut">
								
									<div class="notification-box-head-wrap">


																		<iframe src="http://www.mynameisramesh.com" style="height:100% !important; width:100% !important; padding:1% 1% ;position:absolute  ">

																			
																		</iframe>
																		<div class="pull-right">
																		<button style="background:black !important; position:relative" class="btn btn-default btn-icon-anim btn-circle"><i class="glyphicon glyphicon-remove" style="color:red"></i>
																		</button>
																		<button style=" background:black !important; position:relative" class="btn btn-default btn-icon-anim btn-circle"" onclick="window.open('http://du.ac.in')">  <i class="glyphicon glyphicon-resize-full " style="color:lime"></i> 
																		</button>
																		
																	</div>



									</div>
							
							
							</div>
						</li>
						
					</ul>
				</div>	
			</nav>
			<!-- /Top Menu Items -->
			
			<!-- Left Sidebar Menu -->
			
				<!-- Footer -->
				
				<!-- /Footer -->
	        </div>
	        <!-- /Main Content -->

	    </div>
    <!-- /#wrapper -->
	
	<!-- JavaScript -->
	
    <!-- jQuery -->
    <script src="{% static "vendors/bower_components/jquery/dist/jquery.min.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "vendors/bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
	
	<!-- Slimscroll JavaScript -->
	<script src="{% static "dist/js/jquery.slimscroll.js" %}"></script>
	
	<!-- Owl JavaScript -->
	<script src="{% static "vendors/bower_components/owl.carousel/dist/owl.carousel.min.js" %}"></script>
	
	<!-- Fancy Dropdown JS -->
	<script src="{% static "dist/js/dropdown-bootstrap-extended.js" %}"></script>
	
	<!-- Switchery JavaScript -->
	<script src="{% static "vendors/bower_components/switchery/dist/switchery.min.js" %}"></script>
	
	<!-- Init JavaScript -->
	<script src="{% static "dist/js/init.js" %}"></script>
	
</body>

</html>
